<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="solutionInspector" type="SolutionInspector.Api.Configuration.SolutionInspectorConfiguration, SolutionInspector.Api">
      <section name="ruleAssemblyImports" type="SolutionInspector.Api.Configuration.RuleAssemblyImports.RuleAssemblyImportsConfigurationSection, SolutionInspector.Api" />
      <section name="msBuildParsing" type="SolutionInspector.Api.Configuration.MsBuildParsing.MsBuildParsingConfigurationSection, SolutionInspector.Api" />
      <section name="rules" type="SolutionInspector.Api.Configuration.Rules.RulesConfigurationSection, SolutionInspector.Api" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <solutionInspector>
    <ruleAssemblyImports>
      <!-- Assemblies referenced (via NuGet/dll reference) do not have to be imported -->
      <!-- Paths are relative to SolutionInspector.exe -->
      <!-- Example: <import path="File.dll" /> -->
      <!-- When using directories all assemblies (files with an extension of '.dll') are imported -->
      <!-- Example: <import path="Directory" /> -->
    </ruleAssemblyImports>
    <msBuildParsing>
      <projectBuildActions>
        <projectBuildAction name="None" />
        <projectBuildAction name="Compile" />
        <projectBuildAction name="Content" />
        <projectBuildAction name="EmbeddedResource" />
        <projectBuildAction name="CodeAnalysisDictionary" />
        <projectBuildAction name="ApplicationDefinition" />
        <projectBuildAction name="Page" />
        <projectBuildAction name="Resource" />
        <projectBuildAction name="SplashScreen" />
        <projectBuildAction name="DesignData" />
        <projectBuildAction name="DesignDataWithDesignTimeCreatableTypes" />
        <projectBuildAction name="EntityDeploy" />
        <projectBuildAction name="XamlAppDef" />
        <projectBuildAction name="Fakes" />
      </projectBuildActions>
    </msBuildParsing>
    <rules>
      <solutionRules>
        <rule type="SolutionInspector.DefaultRules.NuGetPackagesShouldHaveOneVersionAcrossSolutionRule, SolutionInspector.DefaultRules" />
        <rule type="SolutionInspector.DefaultRules.SolutionBuildConfigurationsRule, SolutionInspector.DefaultRules" expectedConfigurations="Debug,Release" expectedPlatforms="AnyCPU" />
      </solutionRules>
      <projectRules>
        <projectRuleGroup appliesTo="*">
          <rule type="SolutionInspector.DefaultRules.ProjectShouldNotContainProjectItemsWithDuplicateIncludesRule, SolutionInspector.DefaultRules" />
          <rule type="SolutionInspector.DefaultRules.AllProjectItemsMustBePresentRule, SolutionInspector.DefaultRules" />
          <rule type="SolutionInspector.DefaultRules.ProjectPropertyRule, SolutionInspector.DefaultRules" property="AppDesignerFolder" expectedValue="Properties" />
          <rule type="SolutionInspector.DefaultRules.ProjectBuildConfigurationDependentPropertyRule, SolutionInspector.DefaultRules" buildConfigurationFilter="Debug|*" property="Optimize" expectedValue="false" />
          <rule type="SolutionInspector.DefaultRules.RequiredCompilationSymbolsProjectRule, SolutionInspector.DefaultRules">
            <requiredCompilationSymbols buildConfigurationFilter="*|*" requiredCompilationSymbols="TRACE" />
          </rule>
          <rule type="SolutionInspector.DefaultRules.RequiredNuGetPackagesRule, SolutionInspector.DefaultRules">
            <nuGetPackage id="log4net" />
          </rule>
          <rule type="SolutionInspector.DefaultRules.ProjectXPathRule, SolutionInspector.DefaultRules" xPath="boolean(//Content)" />
        </projectRuleGroup>
        <projectRuleGroup appliesTo="+*;-*Tests;-*TestInfrastructure">
          <rule type="SolutionInspector.DefaultRules.ProjectMustProvideXmlDocumentationRule, SolutionInspector.DefaultRules" />
          <rule type="SolutionInspector.DefaultRules.ProjectConfigFileShouldHaveCorrectFrameworkVersionRule, SolutionInspector.DefaultRules" expectedVersion="v4.0" expectedSKU=".NETFramework,Version=v4.6.1" />
        </projectRuleGroup>
        <projectRuleGroup appliesTo="*UnitTests">
          <rule type="SolutionInspector.DefaultRules.ProjectPropertyRule, SolutionInspector.DefaultRules" property="TestProjectType" expectedValue="UnitTest" />
        </projectRuleGroup>
      </projectRules>
      <projectItemRules>
        <projectItemRuleGroup appliesTo="*" inProject="*">
          <rule type="SolutionInspector.DefaultRules.ProjectItemMustHaveCustomToolSetRule, SolutionInspector.DefaultRules" expectedCustomTool="CustomTool" expectedCustomToolNamespace="CustomToolNamespace" />
          <rule type="SolutionInspector.DefaultRules.ProjectItemMustHaveCorrectBuildActionRule, SolutionInspector.DefaultRules" expectedBuildAction="Compile" />
        </projectItemRuleGroup>
      </projectItemRules>
    </rules>
  </solutionInspector>
</configuration>