<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="solutionInspector" type="SolutionInspector.Api.Configuration.SolutionInspectorConfiguration, SolutionInspector.Api.Configuration">
      <section name="msBuildParsing"
               type="SolutionInspector.Api.Configuration.MsBuildParsing.MsBuildParsingConfigurationSection, SolutionInspector.Api.Configuration" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <solutionInspector>
    <msBuildParsing>
      <!-- Since MSBuild does provide no way to identify actual project items from references it is necessary to list the types of project items
           here. In most cases this configuration does not have to be changed. -->
      <projectBuildActions>
        <projectBuildAction name="None" />
        <projectBuildAction name="Compile" />
        <projectBuildAction name="Content" />
        <projectBuildAction name="EmbeddedResource" />
        <projectBuildAction name="CodeAnalysisDictionary" />
        <projectBuildAction name="ApplicationDefinition" />
        <projectBuildAction name="Page" />
        <projectBuildAction name="Resource" />
        <projectBuildAction name="SplashScreen" />
        <projectBuildAction name="DesignData" />
        <projectBuildAction name="DesignDataWithDesignTimeCreatableTypes" />
        <projectBuildAction name="EntityDeploy" />
        <projectBuildAction name="XamlAppDef" />
        <projectBuildAction name="Fakes" />
      </projectBuildActions>
    </msBuildParsing>
  </solutionInspector>
</configuration>