<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="JetBrains Extensions" value="https://resharper-plugins.jetbrains.com/api/v2/curated-feeds/Wave_v8.0/" />
  </packageSources>
</configuration>