<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org (needed for CI build)" value="https://api.nuget.org/v3/index.json" />
    <add key="myget re-motion-infrastructure" value="https://www.myget.org/F/re-motion-infrastructure/api/v3/index.json" />
    <add key="Ammy myget" value="https://www.myget.org/F/ammy/api/v2" />
  </packageSources>
</configuration>