<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="solutionInspector" type="SolutionInspector.Configuration.SolutionInspectorConfiguration, SolutionInspector">
      <section name="msBuildParsing" type="SolutionInspector.Configuration.MsBuildParsing.MsBuildParsingConfigurationSection, SolutionInspector" />
      <section name="rules" type="SolutionInspector.Configuration.Rules.RulesConfigurationSection, SolutionInspector" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <solutionInspector>
    <msBuildParsing>
      <projectBuildActions>
        <projectBuildAction name="None" />
        <projectBuildAction name="Compile" />
        <projectBuildAction name="Content" />
        <projectBuildAction name="EmbeddedResource" />
        <projectBuildAction name="CodeAnalysisDictionary" />
        <projectBuildAction name="ApplicationDefinition" />
        <projectBuildAction name="Page" />
        <projectBuildAction name="Resource" />
        <projectBuildAction name="SplashScreen" />
        <projectBuildAction name="DesignData" />
        <projectBuildAction name="DesignDataWithDesignTimeCreatableTypes" />
        <projectBuildAction name="EntityDeploy" />
        <projectBuildAction name="XamlAppDef" />
        <projectBuildAction name="Fakes" />
      </projectBuildActions>
    </msBuildParsing>
    <rules>
      <solutionRules>
        <rule type="SolutionInspector.DefaultRules.SolutionBuildConfigurationsRule, SolutionInspector.DefaultRules" expectedConfigurations="Debug,Release,Test" expectedPlatforms="Any CPU" />
      </solutionRules>
      <projectRules>
        <projectRuleGroup appliesTo="*">
          <rule type="SolutionInspector.DefaultRules.ProjectConfigFileShouldHaveCorrectFrameworkVersionRule, SolutionInspector.DefaultRules" expectedVersion="v4.0" expectedSKU=".NETFramework,Version=v4.5.1" />
          <rule type="SolutionInspector.DefaultRules.ProjectPropertyRule, SolutionInspector.DefaultRules" property="Property" expectedValue="Value" />
        </projectRuleGroup>
      </projectRules>
    </rules>
  </solutionInspector>
</configuration>
