<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.dotCover.CommandLineTools" version="2017.3.1" targetFramework="net47" developmentDependency="true" />
  <package id="JetBrains.ReSharper.CommandLineTools" version="2017.3.1" targetFramework="net47" developmentDependency="true" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net47" />
  <package id="ReSharper.ImplicitNullability" version="4.0.0.10300171" targetFramework="net47" />
  <package id="ReSharper.SerializationInspections" version="1.7.0.20171" targetFramework="net47" />
  <package id="ReSharper.XmlDocInspections" version="2.0.1.5210171" targetFramework="net47" />
  <package id="Wave" version="8.0.0.0" targetFramework="net47" />
</packages>