<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="solutionInspector" type="SolutionInspector.Api.Configuration.SolutionInspectorConfiguration, SolutionInspector.Api.Configuration">
      <section name="msBuildParsing" type="SolutionInspector.Api.Configuration.MsBuildParsing.MsBuildParsingConfigurationSection, SolutionInspector.Api.Configuration" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <solutionInspector>
    <msBuildParsing>
      <!-- Since MSBuild does provide no way to identify actual project items from references it is necessary to list the types of project items
           here. In most cases this configuration does not have to be changed. -->
      <projectBuildActions>
        <projectBuildAction name="None" />
        <projectBuildAction name="Compile" />
        <projectBuildAction name="Content" />
        <projectBuildAction name="EmbeddedResource" />
        <projectBuildAction name="CodeAnalysisDictionary" />
        <projectBuildAction name="ApplicationDefinition" />
        <projectBuildAction name="Page" />
        <projectBuildAction name="Resource" />
        <projectBuildAction name="SplashScreen" />
        <projectBuildAction name="DesignData" />
        <projectBuildAction name="DesignDataWithDesignTimeCreatableTypes" />
        <projectBuildAction name="EntityDeploy" />
        <projectBuildAction name="XamlAppDef" />
        <projectBuildAction name="Fakes" />
      </projectBuildActions>
    </msBuildParsing>
  </solutionInspector>
</configuration>