<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SolutionInspector Rules" Description="Extension of Microsoft Recommended Rules, with adaptations for RegisterNova projects." ToolsVersion="14.0">
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA2000" Action="Warning" />
    <Rule Id="CA2201" Action="Warning" />
    <Rule Id="CA2202" Action="None" />
    <Rule Id="CA2237" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Diagnostics" RuleNamespace="Microsoft.CodeAnalysis.Diagnostics">
    <Rule Id="IDE0005" Action="None" />
  </Rules>
</RuleSet>